/* General styles for the Prototype Home Section */
.prototype-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #003366; /* Dark blue */
    padding: 20px;
    text-align: center;
  }
  
  .prototype-title {
    font-family: 'Playfair Display', serif; /* Stylish font for headings */
    font-size: 3rem; /* Increased font size for emphasis */
    margin-bottom: 15px; /* Space below the title */
    color: #003366; /* Dark blue */
  }
  
  .prototype-description {
    margin: 20px 0;
    font-family: 'Roboto', sans-serif; /* Consistent font with other components */
    font-size: 1.25rem; /* Slightly larger font for visibility */
    color: #003366; /* Dark blue */
  }
  
  .prototype-button {
    font-family: 'Roboto', sans-serif; /* Consistent font */
    padding: 10px 20px; /* Consistent padding */
    background-color: #003366; /* Dark blue */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .prototype-button:hover {
    background-color: #002244; /* Darker blue for hover */
  }
  
  /* Media Queries */
  @media only screen and (max-width: 600px) {
    .prototype-title {
      font-size: 2rem; /* Smaller font size for mobile */
    }
  
    .prototype-description {
      font-size: 1rem; /* Adjust description font size */
    }
  
    .prototype-button {
      padding: 8px 20px; /* Smaller button padding on mobile */
    }
  }
  
