.hero-section3 {
    display: flex;
    flex-direction: row; /* Default to row for larger screens */
    height: 100vh;
    max-height: 400px;
    max-width: 100%;
    background-color: white;
}

.hero-left3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegúrate de que no haya desbordamiento */
}

.hero-right3 {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image {
    width: 100%; /* Llenar completamente el ancho del contenedor */
    height: 100%; /* Llenar completamente el alto del contenedor */
    object-fit: cover; /* Cubre el contenedor mientras mantienes la proporción */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .hero-section3 {
        flex-direction: column; /* Stack elements vertically */
    }
}
