.investors-container {
  background-color: #001122;
  color: white;
  min-height: 100vh; /* Ensures the container takes full viewport height */
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  justify-content: flex-start; /* Align items at the top */
  align-items: center; /* Center content horizontally */
  padding: 20px;
}

.text-section-investors {
  text-align: justify; /* Justifies text */
  max-width: 800px; /* Set a maximum width for better readability */
  margin: 40px 0 90px 0; /* Increased bottom margin to 70px for more space below text */
}

.text-section-investors h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-section-investors p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.pitch-button {
  background-color: white;
  color: #001122;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pitch-button:hover {
  background-color: #ccc;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .text-section-investors h1 {
    font-size: 2rem; /* Smaller heading size */
  }

  .text-section-investors p {
    font-size: 1rem; /* Smaller paragraph size */
  }

  .pitch-button {
    padding: 10px 20px; /* Smaller button size */
    font-size: 1rem; /* Smaller font size */
  }
}
