.hero-section {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    background-color: white;
    color: #001122; /* Updated to a darker blue */
}

.hero-left {
    flex: 1;
    padding: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-title {
    font-size: 20vw; /* Increased font size */
    font-weight: bold; /* Bold title */
    margin-bottom: 40px; /* Increased space below the title */
}

.hero-slogan {
    margin-top: 0;
    line-height: 1.5; /* Optional: Adjust spacing between lines */
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Ensure the content wraps properly */
}

.app-image {
    min-height: 250px; /* Maintain aspect ratio */
    max-height: 100px; /* Set a max height for images */
    max-width: 100%;   /* Ensure images don’t overflow */
    object-fit: contain;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column; /* Stack left and right sections */
        height: auto; /* Allow the section to grow vertically */
        padding: 20px; /* Add padding for better spacing */
    }
    .hero-right {
        flex-direction: column; /* Stack images vertically */
        justify-content: flex-start; /* Align to the top */
        align-items: center; /* Center images horizontally */
    }
    .app-image {
        margin-bottom: 15px; /* Add space between images */
        max-height: 150px;    /* Optionally increase height for smaller screens */
    }
}
