.joinus-container--joinus {
  background-color: #001122; /* Background color */
  color: white;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  justify-content: flex-start; /* Align items at the top */
  align-items: center; /* Center content horizontally */
  padding: 20px;
}

/* Text Section */
.text-section-joinus {
  text-align: justify; /* Justified text */
  max-width: 800px; /* Max width */
  margin: 40px 0 90px 0; /* Margins */
}

.text-section-joinus h1 {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Margin */
}

.text-section-joinus p {
  font-size: 1.2rem; /* Font size */
  line-height: 1.6; /* Line height */
}

/* Button */
.join-button {
  background-color: white;
  color: #001122; /* Button text color */
  padding: 15px 30px; /* Adjusted padding */
  text-decoration: none; /* No underline */
  font-size: 1.2rem; /* Font size */
  border: none; /* Remove the border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Transition effect */
}

.join-button:hover {
  background-color: #ccc; /* Hover background color */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .text-section-joinus h1 {
    font-size: 2rem; /* Smaller heading size */
  }

  .text-section-joinus p {
    font-size: 1rem; /* Smaller paragraph size */
  }

  .join-button {
    padding: 10px 20px; /* Smaller button size */
    font-size: 1rem; /* Smaller font size */
  }
}
