body {
  font-family: 'Consolas', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: smaller;
  }
  
  .hero-section {
    background-size: cover;
    height: 100vh;
  }

  .nav-links {
    display: none;
  }
  
  .menu-button {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .menu-button {
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
}
