.header {
    background-color: #001122 !important; /* Even darker ocean blue */
    color: white !important; /* White text */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the nav-links to the right */
}

.nav-link {
    color: white !important; /* White text */
    margin-right: 10px;
}

.logo {
    color: white !important; /* White text */
    font-weight: bold; /* Make the text bolder */
    font-size: 1.5rem; /* Increase the font size */
    margin-right: auto; /* Pushes the logo to the left */
}
